* {
	box-sizing: border-box;
}

html, body {
	overflow-x: hidden;
}

body {
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 16px;
	line-height: 1.6;
	min-width: 320px;
	position: relative;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 20px;
}

strong {
	font-weight: 700;
}

a {
	color: inherit;
	text-decoration: none;
}

.container {
	max-width: 1200px;
	padding: 0 20px;
	margin: 0 auto; 
}

/* Header START */
.header-top {
	background-color: #000;
	color: #fff;
	padding: 18px 0 55px 0;
	font-size: 14px;
}

.header-row {
	display: flex;
	align-items: center;
}

.header-right {
	display: flex;
	column-gap: 74px;
	margin-left: auto;
}

.header-info {
	display: flex;
	align-items: center;
}

.header-info img {
	margin-right: 16px;
}

.header-social {
	display: flex;
	align-items: center;
	column-gap: 28px;
}

.header-bottom {
	position: absolute;
	z-index: 2;
	top: 60px;
	left: 50%;
	transform: translateX(-50%);
	max-width: 1200px;
	width: 100%;
}

.header-bottom-row {
	display: flex;
	background-color: #D62E4C;
	color: #fff;
	box-shadow: -2px -1px 8px rgba(0, 0, 0, 0.6);
}

.header-logo {
	background-color: #fff;
	padding: 15px 60px 15px 40px;
	display: flex;
	align-items: center;
	clip-path: polygon(0px 0px, 100% 0%, 82.68% 101.20%, 0px 100%);
}

.header-logo img {
	max-width: 160px;
}

.header-nav {
	padding: 15px 60px;
	margin-left: 150px;
}

.header-nav ul {
	display: flex;
	list-style-type: none;
	padding: 0;
	column-gap: 50px;
}
/* Header END */

/* Banner START */
.banner {
	position: relative;
	min-height: 200px;
	overflow: hidden;
}

.banner img {
	width: 100%;
	height: auto;
	display: block;
}

.banner-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: white;
}

.banner-content h1 {
	font-size: 3em;
	margin-bottom: 10px;
	color: #ffffff;
}

.banner-content p {
	font-size: 1.2em;
	color: #ffffff;
}
/* Banner END */

/* About START */
.about {
	padding: 50px 0;
}

.about-row {
	display: flex;
	align-items: center;
}

.about-left {
	margin-right: 90px;
	max-width: 505px;
}

.about-right {
	width: 550px;
}

.about-right img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.about-title {
	font-size: 42px;
	position: relative;
	margin-bottom: 25px;
	line-height: 1.4;
}

.about-text {
	color: #6D6A6A;
	font-size: 14px;
	line-height: 1.9;
}
/* About END */

/* HOME Services START */
.services {
	padding: 50px 0;
}

.services-row {
	display: flex;
	column-gap: 35px;
}

.services-item {
	box-shadow: 10px -2px 6px rgba(0, 0, 0, 0.6);
	width: 33.3%;
	height: 100%;
}

.services-image img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.services-body {
	padding: 15px 20px 40px 20px;
}

.services-title {
	font-size: 38px;
	position: relative;
	margin-bottom: 25px;
	line-height: 1.4;
}

.services-mini-title {
	font-size: 20px;
}

.services-button {
	width: 100%;
	text-align: center;
	background-color: #D62E4C;
	padding: 15px 45px;
	display: inline-block;
	font-size: 16px;
	color: #fff;
}
/* HOME Services END */

/* Footer START */
.footer {
	background-color: #000;
	color: #fff;
	font-size: 14px;
}

.footer-row {
	display: flex;
}

.footer-left {
	max-width: 268px;
	padding: 60px 60px 30px 0;
	border-right: 1px solid rgba(239, 239, 239, 0.24);
}

.footer-logo {
	margin-bottom: 25px;
}

.footer-logo img {
	width: 200px;
}

.footer-right {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 60px 0 60px 60px;
}

.footer-desc {
	color: #D2D2D2;
	line-height: 1.7;
}

.footer-title {
	font-size: 18px;
	margin-bottom: 18px;
}

.footer-nav ul {
	list-style-type: none;
	padding: 0;
	font-size: 14px;
	color: #E0E0E0;
}

.footer-nav li {
	margin-bottom: 5px;
}

.footer-info-item {
	display: flex;
	align-items: center;
	margin-bottom: 22px;
}

.footer-info-icon {
	margin-right: 14px;
}

.footer-social {
	display: flex;
	column-gap: 30px;
}

.footer-copyright {
	border-top: 1px solid rgba(239, 239, 239, 0.24);
	padding: 24px 0 30px 0;
	text-align: center;
	color: #D2D2D2;
}
/* Footer END */

/* SERVICES Services START */
.services-row {
	display: flex;
	align-items: center;
}

.services-left {
	max-width: 800px;
}

.services-right {
	width: 400px;
}

.title-services {
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 15px;
	text-align: center;
	background-color: #edebeb;
}

.text-with-image {
	margin-left: 30px;
	font-size: 16px;
	margin-right: 200px;
}

.text-with-image b {
	color: #7ee17e;
}

.services-right img {
	width: 600px;
	height: auto;
}
/* SERVICES Services END */

/* Contact START */
.contacts {
	font-size: 1em;
	color: #fff;
	text-align: center;
	background-color: #333;
	margin: 30px;
	padding: 20px;
}

.map-container {
	display: flex;
}

.map {
	width: 60%;
	height: auto;
	margin-left: 60px;
}

.contact-desc {
	width: 40%;
	margin-left: 60px;
}
/* Contact END */
/* Responsive START */
@media screen and (max-width: 1200px) {

	/* Header 1200 START */
	.header-logo {
		padding: 15px 50px 15px 20px;
	}
	.header-nav {
		padding: 10px 20px;
	}
	/* Header 1200 END */

	/* SERVICES Services 1200 START */
	.services-right img {
		width: 400px;
		height: auto;
	}
	/* SERVICES Services 1200 END */

}

@media screen and (max-width: 992px) {
	/* Header 992 START */
	.header-logo {
		padding: 10px 30px 10px 20px;
	}
	.header-logo img {
		max-width: 130px;
	}
	.header-top {
		font-size: 12px;
	}
	.header-right {
		column-gap: 30px;
	}
	.header-info img {
		margin-right: 5px;
		max-width: 18px;
	}
	.header-social {
		column-gap: 15px;
	}
	.header-social a img {
		max-width: 18px;
	}
	.header-nav ul {
		font-size: 14px;
		column-gap: 30px;
	}
	/* Header 992 END */

	/* About us 992 START */
	.about-row {
		display: block;
	}
	.about-left {
		margin: 0 auto 30px auto;
	}
	.about .about-text {
		margin-bottom: 20px;
	}
	.about-right {
		margin: 0 auto;
		width: 100%;
		max-width: 505px;
	}
	/* About us 992 END */

	/* HOME Services 992 START */
	.services {
		padding: 60px 0;
	}
	.services-row {
		column-gap: 20px;
	}
	.services-button {
		padding: 10px 25px;
	}
	/* HOME Services 992 END */

	/*Footer 992 START*/
	.footer-row {
		display: block;
	}
	.footer-left {
		max-width: none;
		border-right: none;
		padding-right: 0;
	}
	.footer-right {
		padding: 0;
		margin-bottom: 30px;
	}
	/* Footer 992 END */

	/*SERVICES Services 992 START*/
	.text-with-image {
		margin-right: 10px;
	}
	/*SERVICES Services 992 Services*/

	/*Contact 992 START*/
	.contacts {
		margin: 30px 0 15px 0;
	}
	.map-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.contact-desc {
		display: flex;
		justify-content: space-between;
		width: 100%;
		margin-left: 0;
	}
	.map {
		width: 100%;
		margin-left: 0;
	}
	.map iframe {
		width: 100%;
	}
	/*Contact 992 END*/
}

@media screen and (max-width: 768px) {
	/*Header 768 START*/
	.header-top {
		display: none;
	}
	.header-nav {
		margin-left: 0;
	}
	.header-bottom {
		position: relative;
		top: 0;
	}
	/*Header 768 END*/

	/*Banner 768 START*/
	.banner-content h1 {
		font-size: 2em;
		margin-bottom: 2px;
		color: #ffffff;
	}
	.banner-content p {
		font-size: 0.8em;
		color: #ffffff;
	}
	/*Banner 768 END*/

	/* About us 768 START */
	.about {
		padding: 45px 0;
	}
	/* About us 768 END */

	/* HOME Services 768 START */
	.services-body {
		padding: 10px 15px 20px 15px;
	}
	.services-button {
		font-size: 12px;
	}
	.services-row {
		flex-wrap: wrap;
		row-gap: 20px;
	}
	.services-item {
		width: calc(50% - 10px);
	}
	/* HOME Services 768 END */

	/* Footer 768 START */
	.footer {
		text-align: center;
	}
	.footer-right {
		display: block;
	}
	.footer-info-item {
		justify-content: center;
	}
	.footer-social {
		justify-content: center;
		margin-top: 40px;
	}
	.footer-nav {
		margin-bottom: 30px;
	}
	/* Footer 768 END */

	/*SERVICES Services 768 START*/
	.services-row {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	/*SERVICES Services 768 END*/

	/*Contact 768 START*/
	.map iframe {
		width: 100%;
	}
	.map {
		width: 100%;
	}
	/*Contact 768 END*/
}

@media screen and (max-width: 576px) {
	/*Header 576 START*/
	.header-nav ul {
		display: block;
	}
	.header-logo img {
		width: 100px;
		height: 30px;
	}
	.container {
		padding: 0 ;
		margin: 0 ; 
	}
	/*Header 576 END*/

	/*About us 576 START*/
	.about-title {
		font-weight: 400;
		font-size: 32px;
		margin-bottom: 0;
	}
	/*About us 576 END*/

	/*Banner 576 START*/
	.banner {
		min-height: 100px;
	}
	.banner-content h1 {
		font-size: 1.8em;
		margin-bottom: 25px;
	}
	.banner-content p {
		display: none;
	}
	/*Banner 576 END*/

	/*HOME Services 576 START */
	.services-row {
		justify-content: center;
	}
	.services-item {
		width: 250px;
	}
	.services-title {
		font-weight: 400;
		font-size: 32px;
		margin-bottom: 25px;
	}
	/* HOME Services 576 END */

	/*SERVICES Services 576 START*/
	.title-services {
		padding: 20px;
	}
	.services-right {
		width: 100%;
	}
	.services-right img {
		width: 100%;
	}
	/*SERVICES Services 576 END*/

	/*Contact 576 START*/
	.contacts {
		margin-top: 5px;
	}
	.contact-desc {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	/*Contact 576 END*/
}

/*Responsive END*/
